.card{
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 20%;
}
.btn{
    background-color: burlywood;
    display:block;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}